.sumpage {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: fixed;
  background-color: rgba(150, 150, 150, 0.2);
  cursor: pointer;
  z-index: 6;
  display: none;
}

.sumtext {
  top: 50%;
  width: 100%;
  font-size: 400%;
  color: rgba(0, 0, 0, 0.8);
  transform: translateY(-50%);
  position: absolute;
}

.sumtext:hover {
  color: rgba(255, 255, 255, 0.8);
  transition-duration: 0.5s;
}